.list-inline .pokeball{
	width: 30px;
	cursor: pointer;
}.list-inline .pokeball:not(.selected){
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


@media screen and (max-width: 400px){
	.preview{
		display: none;
	}
}

#frame { width: 1200px;}
#frame {
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}