#card{
	/*background-image: url("/assets/img/background-card.jpg");*/
	width: 303px;
	height: 400px;
	border: 1px solid black;
    /*border-radius: 20px;*/
    box-shadow: 5px 5px 14px black;
    position: relative;
}
#card IMG{
	max-height: 100%;  
    max-width: 100%; 
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
	width: 255px;
}